* {
  box-sizing: border-box;
  transition: all 0.2s ease;
 
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}






/*Board styling*/
.board-for-margin{
  margin: 50px 50px;

}

.memory-board {
  width:370px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px inset rgb(191, 211, 241);
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 5px 11px 5px rgb(0 0 0 / 30%);
  

  .item {
    width: 90px;
    height: 90px;
    padding: 5px;


    .memory-card {
      width: 80px;
      height: 80px;
      border: 2px solid rgb(43, 139, 250);
      border-radius: 10px;
      box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 5px 11px 5px rgb(0 0 0 / 30%);


    }
  }

  .button{
    border: 2px solid rgb(43, 139, 250);
      border-radius: 5px;
      box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 5px 11px 5px rgb(0 0 0 / 30%);
      padding: 8px;
      margin: 15px;
      cursor: pointer;
      transition-duration: 1.4s;
      

    }
    .button:hover{
      background-color: rgb(183, 183, 245);
    }

}

